<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li><img class="logo" src="../../assets/logo.svg"></li>
                <li><a routerLink="/" class="navbar-brand">MARATHON</a></li>
                <li routerLinkActive="active">
                    <button class="btn button-head" routerLink="/form">Registration form</button>
                </li>
                <li routerLinkActive="active">
                    <button class="btn button-head" routerLink="/admin-login">Registration List</button>
                </li>
                <li routerLinkActive="active">
                    <button class="btn button-head" routerLink="/weather">Weather</button>
                </li>
                <li>
                    <button *ngIf="authService.isLoggedIn()" class="btn button-head" (click)="onLogout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>