<div class="col-md-6 weather-details">
    <h3>Weather Updates</h3>
    <input type="text" class="search-bar" placeholder="Enter a location" name="cityName" [(ngModel)]="cityName" />
    <button type="submit" class="btn btn-success search" (click)="onSubmit(cityName)">
        Search
    </button>
</div>
<div class="card" *ngIf="weatherData">
    <ul>
        <li>Temperature: {{ (weatherData.main.temp - 273.15).toFixed(2) }} &deg;C</li>
        <li>Wind Speed: {{weatherData.wind.speed}}</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>