.registration-form {
    width: 80vw;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.row {
    width: 30vw;
    margin: auto;
    padding: 5px 0px;
}

h3 {
    text-align: center;
    margin: 20px;
    font-weight: 900;
}

button {
    margin-top: 30px;
}

.alert {
    width: 50vw;
    margin: auto;
    white-space: pre;
    color: black;
}

.close-btn {
    margin: 0 !important;
    border: none;
    background: transparent;
    color: black;
}

select {
    -webkit-appearance: listbox !important;
}

.help-block{
    color: red;
}