<div class="registration-form">
    <div class="container-fluid">
        <h3>REGISTRATION FORM</h3>
        <div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
            Registration completed successfully!
            <button type="button" class="close-btn" data-dismiss="alert" aria-label="Close" (click)="removeMsg()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="hidden" id="id" formControlName="id">
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div>
                        <label for="fname">First Name</label>
                        <input type="text" id="fname" name="firstname" formControlName="fname" class="form-control">
                        <span *ngIf="regForm.get('fname')?.touched && !regForm.get('fname')?.valid"
                            class="help-block">Please enter the valid Name!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="lname">Last Name</label>
                        <input type="text" id="lname" name="lastname" formControlName="lname" class="form-control">
                        <span *ngIf="regForm.get('lname')?.touched && !regForm.get('lname')?.valid"
                            class="help-block">Please enter the valid Name!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="age">Age</label>
                        <input type="number" min="1" id="age" name="age" formControlName="age" class="form-control">
                        <span *ngIf="regForm.get('age')?.touched && !regForm.get('age')?.valid"
                            class="help-block">Please select your age!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="gender">Gender</label><br>
                        <select name="gender" name="gender" formControlName="gender" class="form-control">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Other</option>
                        </select>
                        <span *ngIf="regForm.get('gender')?.touched && !regForm.get('gender')?.valid"
                            class="help-block">Please select your gender!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="category">Category</label><br>
                        <input id="3k" type="radio" value="3K" name="category" formControlName="category">
                        <label for="3k">3K</label><br>
                        <input id="10k" type="radio" value="10K" name="category" formControlName="category">
                        <label for="10Kk">10K</label><br>
                        <input id="21k" type="radio" value="21K" name="category" formControlName="category">
                        <label for="21k">21K</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="mobilenum">Contact Number</label>
                        <input type="number" pattern="[0-9]{10}" id="mobilenum" name="mobilenumber" class="form-control"
                            formControlName="mobilenum">
                        <span *ngIf="regForm.get('mobilenum')?.touched && !regForm.get('mobilenum')?.valid"
                            class="help-block">Please enter a valid phone number!</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>