<!-- <app-admin-login></app-admin-login> -->
<h4>MEMBERS LIST</h4>
<table class="table table-bordered">
  <thead>
    <tr class="title">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Contact Number</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of valuesArray">
      <td>{{ user.fname }} </td>
      <td>{{ user.lname }}</td>
      <td>{{ user.age }}</td>
      <td>{{ user.gender }}</td>
      <td>{{ user.mobilenum }}</td>
      <td><input type="time" [(ngModel)]="user.time"><button class="btn btn-success"
          (click)="saveData(user)">Save</button></td>
    </tr>
  </tbody>
</table>