/*
* Styles related to registration list page
*/

h4 {
    text-align: center;
    margin: auto;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
}

table {
    margin: auto;
    width: 80vw;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

button {
    margin-left: 5px;
    font-size: 12px;
    padding: 2px 10px;
    cursor: pointer;
}

.title{
    background: mediumseagreen;
}

.time{
    width: 50px;
}